<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <h1><%= title %></h1>
      <% include navbar %>
    </header>
    
    <p>This site is creted by Daysa</p>
    <img src="/images/perfil.jpeg" width="150px">

    
  </body>
</html>
