<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <h1><%= title %></h1>
      <% include navbar %>
    </header>
    
    Need help? Send a email for: <strong>daysacsilva@gmail.com</strong>.
  </body>
</html>