<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <h1><%= title %></h1>
      <% include navbar %>

      <h3>Welcome to <%= title %>. Search the weather for all the world!</h3>
    </header>
    
    <form action="/search?source=hp" method="post">

        <select name="cat">
          <option value="now">Now Forecast</option>
        </select>
        
        <input type="text" placeholder="Search" name="location" />

      <input type="submit" />
    </form>

    
  </body>
</html>
